.p1 {
    font-size:3.5vw;
  }

  ion-card {
    margin:0;
    padding:0.75vw;
    background-color: rgb(240, 231, 236);
    
  }
  ion-card-title {
    font-size:8vw;
    color:rgb(54, 51, 65);
  }
  img.imglogo{
    height:20vw !important;
    max-height: 220px !important;
  }
  img.imglogosmall{
    height:5vw !important;
    max-height: 220px !important;
  }
  /***************** ble card ****/
  ion-card.ble-card{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
