<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
    <ion-back-button (click)="sendParam()"></ion-back-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card" >
    <ion-card-header>
      <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
      <ion-card-title>Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart full-screen></canvas>
    </ion-card-content>
    <ion-item>
      <ion-label>Pulso</ion-label>
      <ion-input inputmode="numeric" [ngModel]="pruebaValor"></ion-input>
    </ion-item>
    
  </ion-card>
  
</ion-content>