#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/******************** MIOS *****************/
// ion-card img {
//   padding-top:10px;
// }
// ion-card{
//   height:100%;
// }
//ion-card ion-col ion-card {
  //  min-height:150px;
  
//}
//  ion-card, ion-grid, ion-col {
//    margin: 0 !important;
//    padding: 0 !important;
//  }
// ion-card{
//   margin: 2px !important;
//   padding: 0 !important;
// }
// ion-col img, ion-col ion-card-subtitle{
//   padding-top:10px;
// }
h1.dispositivoValor{
  text-align:center;
  // font-size:10em;
}
.grande {
  font-size:3em;
  line-height:40px !important;
  margin-bottom:0 !important;
  padding-bottom:0 !important;
}

// ion-grid ion-row{
//   display:flex !important;
//   flex-direction: column;
//   background-color: red;
//   margin:10px;
//   align-items: flex-start !important;
//   justify-content: flex-start !important;
// }
.p1 {
  font-size:0.8rem;
}
ion-card {
  margin:0;
  background-color: rgb(240, 231, 236);
  
}
ion-card-title {
  font-size:2rem;
  color:rgb(54, 51, 65);
}
canvas.small{

  width:10px !important;
  height:80px !important;

}
ion-icon.bigger{
  font-size:1.2rem;
}
ion-toolbar ion-item{
  line-height:10px;
}