<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BLETrainer
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="sendParam('devices')">
        <!-- <ion-button routerLink="/devices" routerDirection="forward"> -->
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="sendParam('about')">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-text-center ion-align-items-end">
      <ion-col size="3" (click)="cambiarEstado(info.pulso)">
        <ion-label><small>{{info.pulso.nombre}}</small></ion-label><br>
        <img width="27%" src="./assets/img/heart.png" />
        <ion-card no-margin>
          <ion-card-title>{{bleTrainer.pulsaciones}}<span class="p1"> bpm</span></ion-card-title>
        </ion-card>
        <ion-label class="p1" color="{{info.pulso.color}}"><small>{{info.pulso.estado}}</small>
        </ion-label>

      </ion-col>
      <ion-col size="6" color="dark" class="ion-align-items-start"><img width="80%" src="./assets/img/ds60.jpg" alt="logo"><br>
        <!-- <ion-label>DS-60</ion-label> -->
      </ion-col>

      <ion-col size="3" (click)="cambiarEstado(info.bici)">
        <ion-label><small>{{info.bici.nombre}}</small></ion-label><br>
        <img width="27%" src="./assets/img/bici.png" />
        <ion-card no-margin>
          <ion-card-title><span class="p1">Nivel: </span>{{bleTrainer.biciNivel || 0}}</ion-card-title>
        </ion-card>
        <ion-label class="p1" color="{{info.bici.color}}"><small>{{info.bici.estado}}</small>
        </ion-label>


      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-align-items-end">
      <ion-col size="4">
        <!-- Datos de la Bicicleta ****************************************************** -->
        <ion-label><small>Cadencia</small></ion-label><br>
        <img width="20%" src="./assets/img/cadencia.svg" />
        <ion-card no-margin>
          <ion-card-title>{{bleTrainer.cadencia || 0}} <span class="p1"> rpm</span></ion-card-title>
        </ion-card>
        <ion-label class="p1" color="medium"><small>80</small>
        </ion-label>
        <!-- Fin Datos de la Bicicleta ****************************************************** -->
      </ion-col>

      <ion-col size="4">
        <!-- Datos de la Bicicleta ****************************************************** -->
        <ion-label><small>Potencia</small></ion-label><br>
        <img width="20%" src="./assets/img/potencia.svg" />
        <ion-card no-margin>
          <ion-card-title>{{bleTrainer.power}} <span class="p1"> W</span></ion-card-title>
        </ion-card>
        <ion-label class="p1" color="medium"><small>120</small>
        </ion-label>
        <!-- Fin Datos de la Bicicleta ****************************************************** -->
      </ion-col>

      <ion-col size="4">
        <!-- Datos de la Bicicleta ****************************************************** -->
        <ion-label><small>Velocidad</small></ion-label><br>
        <img width="18%" src="./assets/img/velocidad.svg" />
        <ion-card no-margin>
          <ion-card-title>{{bleTrainer.biciVel || 0}} <span class="p1"> km/h</span></ion-card-title>
        </ion-card>
        <ion-label class="p1" color="medium"><small>15</small>
        </ion-label>
        <!-- Fin Datos de la Bicicleta ****************************************************** -->
      </ion-col>

    </ion-row>
  </ion-grid>
  <!-- otro -->
  

</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-icon name="bicycle"></ion-icon>
    <ion-label color="primary">&nbsp;<small>App creada con IONIC-4 by P.Lluyot</small>
    </ion-label>
  </ion-item>
  <ion-toolbar>
    <ion-item color="dark">
      <ion-label class="ion-text-center">{{mensajeEstado}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>