<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BLETrainer
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="sendParam('devices')">
        <!-- <ion-button routerLink="/devices" routerDirection="forward"> -->
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="sendParam('about')">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="light">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <!-- <ion-thumbnail> -->
      <img style="width:50%;" src="./assets/img/ds60.jpg" alt="logo">
      <ion-card-title>DS-60</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-item>
        <ion-label class="ion-text-left">
          {{info.bici.nombre}}
        </ion-label>
        <ion-label color="{{info.bici.color}}" (click)="cambiarEstado(info.bici)">{{info.bici.estado}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-left">
          {{info.pulso.nombre}}
        </ion-label>
        <ion-label color="{{info.pulso.color}}" (click)="cambiarEstado(info.pulso)">{{info.pulso.estado}}
        </ion-label>
      </ion-item>-->
      
    </ion-card-content>
  </ion-card>

  <!-- otro -->
  <ion-grid no-margin>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-card class="ion-text-center" (click)="cambiarEstado(info.pulso)">
          <ion-card-subtitle>{{info.pulso.nombre}}</ion-card-subtitle>
          <!-- <ion-thumbnail slot="start"> -->
          <img width="35%" src="./assets/img/heart.png" />
          <!-- </ion-thumbnail> -->
          <ion-card-content class="ion-text-center">
            <ion-label>
              <h1>{{bleTrainer.pulsaciones}}</h1>
            </ion-label>

            <ion-label color="{{info.pulso.color}}" ><small>{{info.pulso.estado}}</small>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-subtitle>{{info.bici.nombre}}</ion-card-subtitle>
          <!-- <ion-thumbnail slot="start"> -->
          <img width="27%" src="./assets/img/bici.png" />
          <!-- </ion-thumbnail> -->
          <ion-card-content>
            <ion-label>
              <h1>125</h1>
            </ion-label>
            <ion-label color="{{info.bici.color}}" (click)="cambiarEstado(info.bici)"><small>{{info.bici.estado}}</small></ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>





    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-subtitle>{{info.pulso.nombre}}</ion-card-subtitle>
          <!-- <ion-thumbnail slot="start"> -->
          <img width="35%" src="./assets/img/heart.png" />
          <!-- </ion-thumbnail> -->
          <ion-card-content class="ion-text-center">
            <ion-label>
              <h1>125</h1>
            </ion-label>

            <ion-label color="{{info.pulso.color}}" (click)="cambiarEstado(info.pulso)"><small>{{info.pulso.estado}}</small>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center">
          <ion-card-subtitle>{{info.bici.nombre}}</ion-card-subtitle>
          <!-- <ion-thumbnail slot="start"> -->
          <img width="27%" src="./assets/img/bici.png" />
          <!-- </ion-thumbnail> -->
          <ion-card-content>
            <ion-label>
              <h1>125</h1>
            </ion-label>
            <ion-label color="{{info.bici.color}}" (click)="cambiarEstado(info.bici)"><small>{{info.bici.estado}}</small></ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-icon name="bicycle"></ion-icon>
    <ion-label color="primary">&nbsp;<small>App creada con IONIC-4 by P.Lluyot</small>
    </ion-label>
  </ion-item>
  <ion-toolbar>
    <ion-item color="dark">
      <ion-label class="ion-text-center">{{mensajeEstado}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>