<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Conexión
    </ion-title>

    <ion-buttons slot="start">
      <!-- <ion-button [routerLink]="['/home',estadoBLE]" routerDirection="back">
        <ion-icon name="heart"></ion-icon> 
      </ion-button> -->
      <ion-button (click)="sendParam()">
        <ion-icon name="navigate" slot="start"></ion-icon>Atras</ion-button>
      <ion-button (click)="leerPulso(info.pulso)">LEER</ion-button>
     
      
      <!-- <ion-button (click)="escriboDato()">ESC</ion-button> -->
      <ion-button (click)="bleTrainer.desconectarDispositivo(info.pulso.id)">DESC</ion-button>

      <!-- <ion-back-button defaultHref="/home"></ion-back-button>  -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" no-padding no-margin>
  <ion-item>
    <ion-buttons>
      <ion-button (click)="apagarBle()">Apagar BLE</ion-button>
      <ion-button (click)="encenderBle()">Encender BLE</ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card>
    <ion-list>
      <ion-list-header color="dark">
        Sensores <ion-icon name="bluetooth"></ion-icon>
      </ion-list-header>
      <!-- bicicleta -->
       <ion-item-group>
        <ion-item-divider color="warning">
          <ion-label slot="start">{{info.bici.nombre}}</ion-label>
          <ion-label slot="start" color="{{info.bici.color}}">{{info.bici.estado}}</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary"  class="btnscan"
              (click)="scan(this.info.bici)">
              scan
              <ion-icon name="bluetooth"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-divider>
        <ion-item *ngFor="let device of info.bici.dispositivos" color="light" (click)="bleTrainer.establecerConexionDispositivo(device, this.info.bici.id)">
          <!-- <ion-card *ngFor="let device of devices" color="light" (click)="deviceSelected(device)">
            <ion-card-header> -->
              <!-- <ion-card-title> -->
                <ion-label slot="start" color="primary">{{device.name || "--sin nombre--"}}</ion-label>
                <!-- <ion-icon name="bluetooth">

                </ion-icon>
              </ion-card-title>
              <ion-card-subtitle> -->
                <ion-label class=" ion-text-end ion-float-right uid">{{device.id}}</ion-label>
               
               <!--   - RSSI: {{device.rssi}} -->
              <!-- </ion-card-subtitle> -->
            <!-- </ion-card-header> -->
          <!-- </ion-card> -->
          
          <!-- <ion-label style="text-align:right;" color="success">conectado</ion-label> -->
        </ion-item>
      </ion-item-group>
      <!-- pulsómetro **************************************************************** -->
      <ion-item-group>
        <ion-item-divider color="warning">

          <ion-label slot="start">{{info.pulso.nombre}}</ion-label>
          <ion-label class=" ion-text-end ion-float-right uid">{{bleTrainer.pulsaciones}}</ion-label>
          <ion-label slot="start" color="{{info.pulso.color}}">{{info.pulso.estado}}</ion-label>
          <ion-buttons slot="end">
            <ion-button color="dark" class="btnscan"
              (click)="scan(info.pulso)">
              scan
              <ion-icon name="bluetooth"></ion-icon>
            </ion-button>
            
          </ion-buttons>
        </ion-item-divider>
        <ion-item *ngFor="let device of info.pulso.dispositivos" color="light" (click)="conectar(device, this.info.pulso)">
          <ion-label slot="start" color="primary">{{device.name || "--sin nombre--"}}</ion-label>
          <!-- <ion-label class=" ion-text-end ion-float-right uid">{{pulsaciones}}</ion-label> -->
          <ion-label class=" ion-text-end ion-float-right uid">{{device.id}}</ion-label>
        </ion-item>
      </ion-item-group>
      <!-- /* pruebas -->
      <ion-item-group>
        <ion-item-divider color="warning">

          <ion-label slot="start">TODO</ion-label>
          
          <ion-label slot="start" color="{{info.pulso.color}}">vacio</ion-label>
          <ion-buttons slot="end">
            <ion-button color="dark" fill="outline" size="small" shape="round"
              (click)="scan()">
              TODO
              <ion-icon name="bluetooth"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-divider>
        <ion-item *ngFor="let device of devices" color="light" (click)="bleTrainer.establecerConexionDispositivo(device)">
          <ion-label slot="start" color="primary">{{device.name || "--sin nombre--"}}</ion-label>
          
          <ion-label class=" ion-text-end ion-float-right uid">{{device.id}}</ion-label>
        </ion-item>
      </ion-item-group>
      
      </ion-list>
    <ion-label class="ion-text-center">Selecciona un dispositivo para conectarte</ion-label>
  </ion-card>

</ion-content>
<ion-footer>
  <!-- <ion-item lines="none">
    <ion-icon name="bicycle"></ion-icon>
    <ion-label color="primary">&nbsp;<small>App creada con IONIC-4 by P.Lluyot</small>
    </ion-label>
  </ion-item> -->
  <ion-toolbar>
    <ion-item color="dark">
      <ion-label class="ion-text-center">{{mensajeEstado}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>